* {
    box-sizing: border-box; /* Inclui as bordas e o padding no cálculo total da largura e altura dos elementos */
    padding: 0; /* Remove todo o preenchimento padrão de todos os elementos */
    margin: 0; /* Remove todas as margens padrão de todos os elementos */
}  /* Seleciona todos os elementos e aplica estilos a todos eles */

body {
    
} /* Seleciona o elemento <body> e aplica estilos a ele */

#animes h2 {
    color: rgb(212, 210, 63); /* Define a cor do texto dos <h2> dentro do elemento com id "animes" */
}

#mangas h2 {
    color: brown; /* Define a cor do texto dos <h2> dentro do elemento com id "mangas" */
}

.dateCreation {
    color: rgb(105, 105, 104); /* Define a cor do texto dos elementos com a classe "dateCreation" */
}

h1 {
    height: 37px; /* Define a altura do elemento <h1> como 37 pixels */
    padding: 8px 2px 3px 4px; /* Define o espaçamento interno do elemento <h1> (topo, direita, fundo, esquerda) */
    border: 2px solid red; /* Adiciona uma borda sólida de 2 pixels de largura e cor vermelha ao redor do elemento <h1> */
    margin: 0; /* Remove qualquer margem externa ao redor do elemento <h1> */
}
