* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    background-color: #f0f0f0;
}

header {
    background: linear-gradient(to right, #ff6f61, #de6c8f);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Altera a cor de fundo dos links de navegação quando o cursor passa sobre eles */
}


section {
    font-family: Arial, Helvetica, sans-serif; /* Define a família de fontes para o texto dentro das seções */
    padding: 20px;
    margin: 20px 0;
}

section h2 {
    font-size: 26px; /* Define o tamanho da fonte para os títulos dentro das seções */
}

.news-container {
    background-color: #dd71716b; /* Cor de fundo semitransparente para o contêiner de notícias */
    border: 1px solid #ddd; /* Cor da borda do contêiner */
    border-radius: 10px; /* Bordas arredondadas no contêiner */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave ao redor do contêiner */
}


.news-container h2 {
    color: #ff6f61;
    font-size: 32px; /* Define o tamanho da fonte para o título das notícias */
}

article {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 3px solid #ff6f61;
}

article h3 {
    color: #333;
    margin: 10px 0;
}

article p {
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

.sports-container {
    background-color: #00f82152; /* Cor de fundo semitransparente para a seção de esportes */
    border: 1px solid #ddd; /* Cor da borda do contêiner */
    border-radius: 10px; /* Bordas arredondadas no contêiner */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave ao redor do contêiner */
}

.entertainment-container {
    background-color: #002fff52; /* Cor de fundo semitransparente para a seção de entretenimento */
    border: 1px solid #ddd; /* Cor da borda do contêiner */
    border-radius: 10px; /* Bordas arredondadas no contêiner */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave ao redor do contêiner */
}

}