* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --cor-primaria: #182c61;
    --cor-secundaria: #ecf0f1;
}

header,
section h2 {
    font-family: 'Bungee' , sans-serif ;
}

body {
    font-family: 'Roboto' , sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 16px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

header h1,
section h2 {
    font-weight: normal;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: var(--cor-secundaria);
    text-decoration: none;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandList img {
    height: 24px;
}
.brandList li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
    color: var(--cor-primaria);
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

.storeFront {
    margin-right: 32px;
}