* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --cor-primaria: #182c61;
    --cor-secundaria: #ecf0f1;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 16px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-size: 24px;
}

header nav li {
    display: inline;
    margin-left: 16px;
}

header nav li a {
    color: var(--cor-secundaria);
    text-decoration: none;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}